In [3]:
#importing libraries
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math

In [4]:
np.random.seed(6)

In [ ]:
# Check whether a sample mean differs from the population mean
# create some dummy age data for the population of voters in the entire country and a sample of voters in Kerala

In [11]:
np.random.seed(6)
pop_ages_1=stats.poisson.rvs(loc=18, mu=35, size=150000)
pop_ages_2=stats.poisson.rvs(loc=18, mu=10,size=100000)
pop_ages=np.concatenate((pop_ages_1,pop_ages_2))

In [18]:

#creating random samples
kerala_ages_1=stats.poisson.rvs(loc=18, mu=30, size=30)
kerala_ages_2=stats.poisson.rvs(loc=18, mu=10,size=20)
kerala_ages=np.concatenate((kerala_ages_1,kerala_ages_2))

In [19]:
print(pop_ages.mean())
print(kerala_ages.mean())

43.000112
39.48

In [20]:
#null hypothesis: sample comes from same distribution as population

In [21]:
#one sample T-Test
stats.ttest_1samp(a=kerala_ages,popmean=pop_ages.mean())

Ttest_1sampResult(statistic=-2.5840557634525374, pvalue=0.012796484188078466)

In [22]:
stats.t.ppf(q=0.025,df=49)

-2.0095752344892093

In [24]:
stats.t.ppf(q=0.975,df=49)

2.009575234489209

In [26]:
stats.t.cdf(x=-2.5840, df=49)*2

0.012798299876822673

In [27]:
sigma=kerala_ages.std()/math.sqrt(50)

In [29]:
stats.t.interval(0.95,df=49, loc=kerala_ages.mean(), scale=sigma)

(36.76998366846647, 42.19001633153352)

In [30]:
stats.t.interval(0.99,df=49, loc=kerala_ages.mean(), scale=sigma)

(35.865945899600504, 43.09405410039949)

In [ ]:
#confidence interval 0.99
#significance level as 0.01
#p-value: 0.012
#we failed to reject the null hypothesis since the pvalue(0.012) is greater than significance level 0.01
#we have to accept the null hypothesis as true

In [ ]:
#Two sample T test
# A two sample T test investigates whether the means of two independent data samples differ from one another

In [31]:
np.random.seed(12)
karnataka_ages1=stats.poisson.rvs(loc=18,mu=33, size =30)
karnataka_ages2=stats.poisson.rvs(loc=18,mu=13, size =20)
karnataka_ages= np.concatenate((karnataka_ages1,karnataka_ages2))

In [32]:
print(karnataka_ages.mean())

42.8

In [34]:
stats.ttest_ind(a=kerala_ages,b=karnataka_ages, equal_var=False)

Ttest_indResult(statistic=-1.6520555199745128, pvalue=0.10174489387942386)

In [ ]:
# significant level 5%

In [35]:
#Paired T Test

In [ ]:
#A hospital want to test whether a weight loss drugs by checking the weights of the same group patients before 
# and after treatment

In [36]:
np.random.seed(11)
before= stats.norm.rvs(scale=30,loc=250,size =100)
after=before+stats.norm.rvs(scale=5,loc=-1.25, size=100)

In [38]:
weight_df=pd.DataFrame({"weight_before": before,
                       "weight_after":after,
                       "weight_change": after-before})

In [39]:
weight_df.describe()

       weight_before  weight_after  weight_change
count     100.000000    100.000000     100.000000
mean      250.345546    249.115171      -1.230375
std        28.132539     28.422183       4.783696
min       170.400443    165.913930     -11.495286
25%       230.421042    229.148236      -4.046211
50%       250.830805    251.134089      -1.413463
75%       270.637145    268.927258       1.738673
max       314.700233    316.720357       9.759282

In [40]:
stats.ttest_rel(a=before,b=after)

Ttest_relResult(statistic=2.5720175998568284, pvalue=0.011596444318439857)

In [41]:
import numpy as np
from scipy import stats

In [44]:
z_cal=(153.8-150)/2
z_cal

1.9000000000000057

In [45]:
z_crit_left=stats.norm.ppf(0.025)
z_crit_left

-1.9599639845400545

In [46]:
z_crit_right=stats.norm.isf(0.025)
z_crit_right

1.9599639845400545

In [48]:
stats.norm.cdf(-1.9599639845400545)

0.024999999999999977

In [49]:
stats.norm.sf(-1.9599639845400545)

0.975

In [50]:
pvalue=2*stats.norm.sf(z_cal)

In [51]:
pvalue

0.057433119632002864

In [53]:
if(pvalue<0.05):
    print("rejecting the Null Hypothesis")
else:
    print("failed to reject the Null Hypothesis")

failed to reject the Null Hypothesis